.Screen {
  background: aliceblue;
  display: flex;
  width: 1720px;
  height: 880px;
  border-radius: 36px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/backgroud.gif");

  &-taskbar {
    width: 1720px;
    height: 70px;
    background: $taskbar-blue;
    margin-bottom: -1;
    margin-top: auto;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    display: flex;

    &-buttons-start {
      display: flex;
      width: 193px;
      height: 70px;
      border-bottom-left-radius: 36px;
      background: $button-blue;
      box-shadow: 11px 0px 9px -1px rgba(0, 0, 0, 0.7);
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      &-text{
        margin-left:10px;
        font-size: 20px;
        margin-top: 26%;
        transform: translateY(-125%);
      }
    }

    &-buttons-about {
      margin-top: auto;
      margin-bottom: auto;
      width: $button-width;
      height: $button-heigth;
      border-radius: 10px;
      background: $button-blue;
      box-shadow: 11px 0px 9px -1px rgba(0, 0, 0, 0.7);
      margin-left: $gutter;
      &-icon{
        margin-top: 5px;
        margin-left: 10px;
      }
      &-text{
        margin-top:50px;
      }
    }

    &-buttons-project {
      margin-top: auto;
      margin-bottom: auto;
      width: $button-width;
      height: $button-heigth;
      border-radius: 10px;
      background: $button-blue;
      box-shadow: 11px 0px 9px -1px rgba(0, 0, 0, 0.7);
      margin-left: $gutter;
    }

    &-buttons-contact {
      margin-top: auto;
      margin-bottom: auto;
      width: $button-width;
      height: $button-heigth;
      border-radius: 10px;
      background: $button-blue;
      box-shadow: 11px 0px 9px -1px rgba(0, 0, 0, 0.7);
      margin-left: $gutter;
    }

    &-buttons-date {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 0;
      margin-left: auto;
      padding-top: 12px;
      width: 240px;
      height: 70px;
      border-bottom-right-radius: 36px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      box-shadow: -11px 0px 9px -1px rgba(0, 0, 0, 0.7);
      background: $button-blue;

      &-clock {
        display: flex;
        margin-left: -100%;
        transform: translateX(55%);
        margin-right: auto;
        color: $white;
        font-size: 20px;
        font-family: $font;
        letter-spacing: 4px;
      }
    }
  }
}
