body{
  overflow:hidden;
  font-family: $font;
}


.Frame{
  padding: 30px;
  background: $frame-color;
  z-index:100;
}

.power-icon{
  margin-top: auto;
  margin-bottom: auto;
  margin-left:15px ;
  fill: $white;
  width: 39px;
  height: 40px;
  &-fill{
    fill: white;
  }
}

.try{
  background-color: pink;
  border: 3px solid black;
  width: 15px;
  height: 15px;
}
