body{
  //overflow:hidden
}


.Frame{
  padding: 30px;
  background: $frame-color;
}

.power-icon{
  margin-top: auto;
  margin-bottom: auto;
  margin-left:15px ;
  fill: $white;
  width: 39px;
  height: 40px;
  &-fill{
    fill: white;
  }
}