@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$font: 'Press Start 2P', cursive;
$frame-color: #E1CDBF;
$taskbar-blue: rgba(43, 80, 106, 0.9);
$button-blue: rgba(78, 100, 144, 1);
$gutter: 10px;
$button-width: 240px;
$button-heigth: 60px;
$white: rgba(255, 255, 255, 1)
